.personne{
    border: 1px solid lightgray;
    height: 300px;
    width: 200px;
    display: inline-block;
    margin: 5px;
    border-radius: .5em;
    padding: 5px;
    transition: .5s;
    cursor: pointer;
    padding: 5px;
}

.personne:hover{
    scale: 1.05;
}

.personne > img {
    width: 100%;
    margin-bottom: 5px;
}


.popup > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.popup > .content {
    width: 100%;
    padding: 10px 5px;
}


