.personne{
    border: 1px solid lightgray;
    height: 300px;
    width: 200px;
    display: inline-block;
    margin: 5px;
    border-radius: .5em;
    padding: 5px;
    box-shadow: 2px 2px 1px lightgray;
    transition: .5s;
    cursor: pointer;
}

.personne:hover{
    scale: 1.05;
}

.personne > img {
    width: 100%;
}


.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}

.modal > .close {
    border: none;
    background-color: #cfcece;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    border-radius: 999px;
}

.modal > .close:hover {
    background-color: red;
}

