.personne{
    height: 370px;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: .5em;
    padding: 5px;
    transition: .5s;
    padding: 5px;
}

.personne:hover{
    scale: 1.04;
}

.personne > img {
    width: 100%;
    margin-bottom: 5px;
}

.genre {
    background-color: lightgray;
    border-radius: 999px;
    cursor: pointer;
}

.popup > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.popup > .content {
    width: 100%;
    padding: 10px 5px;
}


